body{
    background-image: url(../assets/people.jpeg);
    background-repeat: no-repeat;
}
h2 {
    text-decoration: underline;
  }
#btn1:hover {
      background-color: orange;
  }
  h1 {
    text-shadow: 2px 2px 5px red;
    text-decoration: underline;
  }