body{
  background-image: url(/assets/AAA.jpeg);
}
h2 {
    text-decoration: underline;
  }
#in1:hover {
      background-color: orange;
  }
  h1 {
    text-shadow: 2px 2px 5px red;
    text-decoration: underline;
  }
p{
font-size: 20px;
background-color: papayawhip;
}

